/* CORRECTS NAV-BAR OVERLAP */
body { padding-top: 80px; }

.panel-default-hover:hover {
    background: #f8f8f8;
}

.panel-default-hover {
    cursor: pointer;
}

.panel-default-hover:active {
    background: #f3f3f3;
}

.contact-list {
    list-style: none;
    margin: none;
    padding: none;
}

.contact-list>li {
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.img-centered {
    float: none;
    display: block;
    margin: 0 auto !important;
}

.exclam {
	background: url("/resources/img/exclam2.png") center left no-repeat;
	background-size: 14px 14px;
	line-height: 18px;
	padding-left: 18px;
}
span.error-msg {
	display: block;
	margin: 4px 0px 2px 5px;
}